<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--nateohlson-->
<html>
	<head>
		<title>Routes</title>
		<link href="../static/style.css" rel="stylesheet"/>
	</head>
	<body>
		<table>
			<tr>
				<td>
					<h1>Valid routes from {{origin}} to {{dest}}</h1>
					{% for i in range(valid_routes|length): %}
						<p>
						{% set path = valid_routes[i].getPath() %}
						{% for j in range(path | length): %}
							{{path[j].getCode()}}
							{% if j < (path | length) - 1 %}
								->
							{% endif %}
						{% endfor %}
                        Distance:
                        {{valid_routes[i].getDistanceMiles()|int}}
                            Miles
						</p>
					{% endfor %}
					<a href="{{url_for('index')}}">Return</a>
            	</td>
			</tr>
		</table>
	</body>
</html>